---
layout: blog-roll
---

%ul.posts
  == {% for post in site.posts %}
  %li
    %a.post-title{:href => "{{ post.url }}"}
      == {{ post.title }}
    %br
    %small.datetime.muted{:data => {:time => "{{ post.date }}"}}
      == {{ post.date | date_to_string }}
  == {% endfor %}
