---
layout: blog-roll
---

<ul class="posts">
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url }}" class="post-title">
      {{ post.title }}
    </a>
    <br/>
	<small class="datetime muted" data-time="{{ post.date }}">{{ post.date | date_to_string }} </small>
  </li>
  {% endfor %}
</ul>
