---
layout: index
class: home
---

.hello.unselectable
  %h1 Hey, I’m Luan
  %p Senior Python developer in East Agile Vietnam
  %p Would you like to
  %ul.links-list.clearfix
    == {% for link in site.home-main-links %}
    %li.inline
      %a.link{href: "{{ link.url }}"}
        == {{ link.description }}
    == {% endfor %}
