---
layout: index
---

%center.hello
  %p
    Hello, I'm
    = succeed '.' do
      %a{:href => "/about"} Luan
    Or
    %strong TK
    for short.
  %p
    I’m a web developer and designer,
    %br
    an aspiring entrepreneur and a joyful photo-taker
    %br
    from Ho Chi Minh City, Vietnam.
  %p
    Wanna get in touch?
    %a{:href => "mailto:luan@tklarryonline.me"} Email
    is the best!
