@import 'global/_defaults';
@import 'global/_media_queries';

@import 'modules/_divs';

body.home { background-color: $web-base; }

#home {
  .hello {
    color: white;
    margin-top: 348px;
    text-align: center;

    h1 {
      font-family: 'Open Sans Condensed', Helvetica, sans-serif;
      font-size: 110px;
      font-weight: bold;
      letter-spacing: 3.5px;
      line-height: 130px;
      margin-bottom: 6px;
    }

    p {
      font-size: 38px;
      font-weight: 300;
      line-height: 45px;
    }
  }

  .links-list {
    list-style: none;
    margin-top: 20px;
    padding-left: 0;

    li {
      margin: 0 15px;

      .link {
        @include transition(all, 0.15s, ease-in-out);
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        display: block;
        font-family: 'Segoe UI', Helvetica, sans-serif;
        font-size: 30px;
        line-height: 27px;
        padding: 10px 20px 15px;
        min-width: 225px;

        &:hover {
          background: white;
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

body.blog {
  background: $blog-base;
  border-top: 3px solid $web-base;
  color: $blog-color;
}

#blog {
  h1, h3 {
    color: $blog-header-color;
  }
  h1 {
    font-weight: bold;
  }

  .blog-cover-image {
    @include body-background('/images/blog_cover.jpg', $web-base, top);
    background-size: 100%, auto;
    height: 450px;
    padding-top: 300px;

    >h1, >h3 {
      margin: 0;
    }

    >h1 {
      font-size: 50px;
    }

    >h3 {
      font-size: 25px;
      font-weight: 300;
      letter-spacing: 0.5px;
      line-height: 1.1;
    }
  }

  .content {
    max-width: 720px;
    width: 720px;
  }

  ul.posts {
    list-style: none;
    padding: 0;

    .post {
      margin-bottom: 75px;

      &:first-child {
        margin-top: 60px;
      }
    }
  }

  > .post {
    margin-top: 100px;
    max-width: 720px;
    width: 720px;

    .post-excerpt {
      p {
        font-weight: 400;
      }
    }
  }
}

.post {
  margin-top: 50px;
  margin-bottom: 50px;

  a {
    color: $blog-a;

    &:hover {
      text-decoration: none;
    }
  }

  p {
    font-size: 20px;
  }

  .post-excerpt {
    > a {
      color: $blog-color;
    }

    p {
      font-weight: 300;
      font-size: 23px;
      margin-bottom: 0;
    }
  }

  .post-title {
    font-size: 35px;
    margin: 0;

    > a {
      color: $blog-header-color;
    }
  }

  .posted-date {
    color: rgba(147, 161, 161, 0.8);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 25px;
  }

  .post-header {
    margin-bottom: 50px;
  }

  .post-content {
    p {
      margin-bottom: 20px;
    }
  }
}
