@import 'global/_defaults';
@import 'global/_media_queries';

@import 'modules/_divs';

body.home { background-color: $web-base; }

#home {
  .hello {
    color: white;
    margin-top: 348px;
    text-align: center;

    h1 {
      font-family: 'Open Sans Condensed', Helvetica, sans-serif;
      font-size: 110px;
      font-weight: bold;
      letter-spacing: 3.5px;
      line-height: 130px;
      margin-bottom: 6px;
    }

    p {
      font-family: 'Open Sans', Helvetica, Segoe UI, sans-serif;
      font-size: 38px;
      font-weight: 300;
      line-height: 45px;
    }
  }

  .links-list {
    list-style: none;
    margin-top: 20px;
    padding-left: 0;

    li {
      margin: 0 15px;

      .link {
        @include transition(all, 0.15s, ease-in-out);
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        display: block;
        font-family: 'Segoe UI', Helvetica, sans-serif;
        font-size: 30px;
        line-height: 27px;
        padding: 10px 20px 15px;
        min-width: 225px;

        &:hover {
          background: white;
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

body.blog {
  background: $blog-base;
  border-top: 3px solid $web-base;
  color: $blog-color;
}

#blog {
  h1, h3 {
    color: $blog-header-color;
  }
  h1 {
    font-weight: bold;
  }

  .blog-cover-image {
    @include body-background('/images/blog_cover.jpg', $web-base, top);
    background-size: 100%, auto;
    height: 450px;
    padding-top: 300px;

    >h1, >h3 {
      margin: 0;
    }

    >h1 {
      font-size: 50px;
    }

    >h3 {
      font-size: 25px;
      font-weight: 300;
      letter-spacing: 0.5px;
      line-height: 1.1;
    }
  }

  .content {
    width: 720px;
  }

  ul.posts {
    list-style: none;
    padding: 0;

    .post {
      margin: 50px 0 75px;

      .posted-date {
        font-size: 18px;
        line-height: 15px;
      }

      .post-title {
        margin: 0 0 10px;

        >a {
          color: $blog-header-color;
          font-size: 35px;
        }
      }

      .post-read-more {
        border-bottom: 1px solid $blog-color;
        color: $blog-color;
        font-size: 18px;
        line-height: 1;
        padding-bottom: 3px;
      }

      p {
        font-size: 20px;
      }
    }
  }
}
