html,body
{
	height:100%;
}

h1,h2,h3,h4,h5,strong,b
{
	font-weight:700;
}

body
{
	background:#002b36;
	color:#586e75;
	font-family:'Open Sans', sans-serif;
	font-weight:400;
	font-size:100%;
	line-height:140%;
	margin:0;
	padding:0;
}

body,body *
{
	-webkit-font-smoothing:antialiased;
}

/* Animation */
.animated
{
	-webkit-animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-duration: .5s;
	animation-fill-mode: both;
}

/* Header */

header
{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

header a
{
	display: inline-block;
}

header strong
{
	background: #2aa198 url('../images/tk.png') no-repeat center center;
	border-radius: 44px;
	height: 88px;
	width: 88px;
	display: inline-block;
	margin-bottom: .5em;
	overflow: hidden;
	color: #2aa198;
}

header em
{
	display: block;
	font-size: 90%;
}

#go-back-home
{
	margin:15px 0 0;
	background: none;
	border: none;
	-webkit-animation-delay: .25s;
	-webkit-animation-name: down;
	animation-delay: .25s;
	animation-name: down;
}

#go-back-home:hover
{
	background-image:none;
	color: #2aa198;
}

center.hello
{
	font-size: 140%;
	line-height:160%;
}

.capitalize
{
	text-transform:capitalize;
}

.upcase
{
	text-transform:uppercase;
}

.downcase
{
	text-transform:lowercase;
}

.hide
{
	display:none;
}

.a-r
{
	text-align:right;
}

.a-c
{
	text-align:center;
}

.small
{
	font-size: 70%;
}

.pull-left
{
	float:left;
}

.pull-right
{
	float:right;
}

.muted
{
	color:#777;
}

.colour-1
{
	color:#c94;
}

.colour-2
{
	color:#925;
}

.colour-3
{
	color:#484;
}

.text-big
{
	font-size:24px;
	line-height:1em;
}

ol,ol li
{
	margin:0;
	padding:0;
}

blockquote
{
	font-style:normal!important;
	margin:0;
}

footer
{
	font-size:80%;
	width:100%;
	max-width:600px;
	line-height:2em;
	padding-bottom:15px;
	text-align:center;
	margin:auto;
}

footer *
{
	color:#797979;
}

#container
{
	zoom:1;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	max-width:600px;
	background:#f5f5f5;
	border-radius:7px;
	border:1px solid #eee;
	position:relative;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
	box-shadow:0 1px 1px rgba(0,0,0,0.2);
	margin:20px auto;
}

#container:before,#container:after
{
	content:" ";
	display:table;
}

#container:after
{
	clear:both;
}

#container .block
{
	border-top:1px solid #efefef;
	border-bottom:1px solid #efefef;
	text-align:center;
	padding:30px 40px 24px;
}

#container .block:first-child,#container .block + .block
{
	border-top:0;
}

#container .block:last-child
{
	border-bottom:0;
}

#container .block a.main
{
	zoom:1;
	display:inline;
	vertical-align:auto;
	margin-right:12px;
	margin-bottom:6px;
	padding:2px;
}

#container .block a.main:last-of-type
{
	margin-right:0;
}

#container .block .button
{
	zoom:1;
	display:inline;
	vertical-align:auto;
	height:20px;
	overflow:hidden;
}

.content
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	position:relative;
	width:100%;
	border-style:solid;
	border-width:0;
	margin:auto;
	padding:5px 60px 10px;
}

a,.as-link
{
	text-decoration:none;
	color: #586e75;
	background-color: #fdf6e3;
	padding: 2px 4px 0px;
	zoom:1;
	display:inline-block;
	vertical-align:auto;
	border-bottom: 1px solid #eee8d5;
	-webkit-transition:	all .25s ease-out;
	-moz-transition:	all .25s ease-out;
	-ms-transition:		all .25s ease-out;
	-o-transition:		all .25s ease-out;
	transition:			all .25s ease-out;
}

a:hover,.as-link.main,.as-link:hover
{
	color: #fff;
	background-color: #657b83;
	border-bottom: 1px solid #586e75;
}

a.main {
	color: #354a53;
	padding: 2px 7px !important;
	border-bottom: 2px solid #354a53;
}

a.main:hover {
	background: #354a53;
	color: white;
}

a.main.cyan {
	color: #33cccc;
	margin-right: 3px;
	padding: 2px 3px !important;
	border-color: #33cccc;
}

a.main.cyan:hover {
	background: #33cccc;
	color: white;
}

a.big-button,.as-link.big-button
{
	min-width:30%;
	border-radius:2px;
	-webkit-transition:all, .2s;
	-moz-transition:all, .2s;
	-ms-transition:all, .2s;
	-o-transition:all, .2s;
	transition:all, .2s;
	color:#fff;
	cursor:pointer;
	font-size:12px;
	line-height:24px;
	text-transform:uppercase;
	letter-spacing:2px;
	display:block;
	text-align:center;
	background:#6f8f9f;
	box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1);
	border-color:#8ab;
	border-style:solid;
	border-width:0;
	padding:8px 17px;
}

a.big-button:hover,.as-link.big-button:hover
{
	background:#608090;
}

a.big-button:active,.as-link.big-button:active
{
	box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);
}

a.big-button.red,.as-link.big-button.red
{
	background:#a65;
	border-color:#ddacac;
}

a.big-button.red:hover,.as-link.big-button.red:hover
{
	background:#b76;
}

a.big-button.gray,.as-link.big-button.gray
{
	color:#404040;
	background:#e7e7e7;
	border-color:#f4f4f4;
}

a.big-button.gray:hover,.as-link.big-button.gray:hover
{
	background:#efefef;
}

a.big-button.blue,.as-link.big-button.blue
{
	background:#678;
	border-color:#ace;
}

a.big-button.blue:hover,.as-link.big-button.blue:hover
{
	background:#789;
}

a.big-button.green,.as-link.big-button.green
{
	background:#696;
	border-color:#ddeed0;
}

a.big-button.green:hover,.as-link.big-button.green:hover
{
	background:#797;
}

hr
{
	border:0;
	border-bottom:1px dotted #CCC;
	margin:25px 0;
}

ul.posts,ul.posts li
{
	list-style:none;
	margin: 15px 0px 0px;
	padding:0;
}

ul.posts li
{
	margin-bottom:20px;
}

ul.posts .datetime
{
	zoom:1;
	display:inline;
	vertical-align:auto;
	width:130px;
	text-transform:uppercase;
	float:right;
	color:#999;
	font-size:10px;
	text-align:right;
}

section.post
{
	text-align:left;
	border-top:0;
	margin:0 -60px;
	padding:0;
}

section.post > *
{
	padding:0 60px;
}

section.post > ul,section.post > ol
{
	padding:0 80px;
}

section.post ul ul,section.post ul ol,section.post ol ul,section.post ol ol
{
	margin-left:20px;
}

section.post h1
{
	text-transform:uppercase;
	text-align:center;
	line-height:1.5em;
	margin-bottom:35px;
}

section.post h1 .date
{
	color:#d0d0d0;
	font-size:10px;
}

section.post iframe,section.post img
{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

section.post,section > p
{
	font-size:100%;
	line-height:1.6em;
}

section.post blockquote,section > p blockquote
{
	-webkit-transition:all, .3s;
	-moz-transition:all, .3s;
	-ms-transition:all, .3s;
	-o-transition:all, .3s;
	transition:all, .3s;
	color:#606060;
	background:#f9f9f9;
	position:relative;
	overflow:hidden;
	display:block;
	padding:15px 60px;
}

section.post blockquote:hover,section > p blockquote:hover
{
	color:#454545;
}

section.post blockquote:hover:before,section > p blockquote:hover:before
{
	color:#b8cec7;
}

section.post blockquote:before,section > p blockquote:before
{
	left:-3px;
}

section.post blockquote:after,section > p blockquote:after
{
	right:-2px;
}

section.post blockquote:before,section.post blockquote:after,section > p blockquote:before,section > p blockquote:after
{
	content:"^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^";
	font-size:24px;
	overflow:hidden;
	position:absolute;
	top:0;
	bottom:0;
	line-height:.4em;
	word-break:break-all;
	color:#d0dfda;
	display:block;
	width:7px!important;
	white-space:normal;
}

section.post li .highlight,section > p li .highlight
{
	margin:10px 0;
}

section.post li p,section > p li p
{
	margin-bottom:5px;
}

section.post img.half,section > p img.half
{
	width:50%;
}

pre
{
	overflow:scroll;
	width:100%;
	line-height:1.2em;
	padding:10px 0;
}

code
{
	font-size:13px;
	color:#888;
	background:#f9f9f9;
	padding:0 4px;
}

.paging a
{
	opacity:0.15;
}

.paging a:hover
{
	opacity:0.7;
	background:none;
}

.paging .left,.paging .right
{
	position:fixed;
	top:50%;
	left:50%;
	font-size:60px;
}

.paging .left
{
	margin-left:-340px;
}

.paging .right
{
	margin-left:320px;
}

section.post *,section > p *,section.post img,section > p img
{
	max-width:100%;
}
