---
class: blog
title: my writings
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='{{ site.title }}' property='og:title' />
    <title>
      {% if page.title %}
      {{ page.title}} -
      {% endif %}
      {{ site.title }}
    </title>
    {% include head.html %}
  </head>
  <body class="{{ page.class }}">
    <div id="{{ page.class }}" class="container-fluid text-center">
      <div class="blog-cover-image">
        <h1>Luan's writings</h1>
        <h3>where I occasionally write my thoughts,<br/>share my work and hack my life</h3>
      </div>
      <div class="content center-block">
        {{ content }}
      </div>
    </div>
  </body>
</html>
