---
class: blog
title: my writings
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='{{ site.title }}' property='og:title' />
    <title>
      {% if page.title %}
      {{ page.title}} -
      {% endif %}
      {{ site.title }}
    </title>
    {% include head.html %}
  </head>
  <body class="blog">
    {% include navigation.html %}
    <div id="blog" class="main-container container-fluid text-center">
      <a href="#slide-nav" id="nav-toggle">&#9776;</a>
      <div class="blog-cover-image">
        <h1>Luan's writings</h1>
        <h3>where I occasionally write my thoughts,<br/>share my work and hack my life</h3>
      </div>
      <div class="content center-block">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    {% include footer_script.html %}
  </body>
</html>
