<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='{{ site.title }}' property='og:title' />
    <title>
      {% if page.title %}
      {{ page.title}} -
      {% endif %}
      {{ site.title }}
    </title>
    {% include head.html %}
  </head>
  <body class="{{ page.class }}">
    {% include navigation.html %}
    <div class="container-fluid">
      <div id="{{ page.class }}" class="content col-md-12">
        {{ content }}
      </div>
    </div>
    {% include footer_script.html %}
  </body>
</html>
