<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% if page.title %}
      {{ page.title}} -
      {% endif %}
      {{ site.title }}
    </title>
    {% include head.html %}
  </head>
  <body class="{{ page.class }}">
    {% include navigation.html %}
    <div class="main-container container-fluid">
      <a href="#slide-nav" id="nav-toggle">&#9776;</a>
      <div id="{{ page.class }}" class="content">
        {{ content }}
      </div>
    </div>
    {% if page.date %}
    {% include footer.html %}
    {% endif %}
    {% include footer_script.html %}
  </body>
</html>
